@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$mono: "Source Code Pro", monospace;


$normal: 20px;
$large: 24px;
$larger: 30px;