@import "colors.scss";
@import "fonts.scss";
@import "responsive.scss";

$header-height: 100px;

.container {
    height: $header-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid black;
}

.innerContainer {
    height: 50px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80%;
    fill: $black;
}

.links {
    // fonts
    font-family: $mono;
    font-size: $normal;

    // container
    flex-basis: 400px;

    // inner links
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: $black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    @media only screen and (max-width: $mobile-width) {
        font-size: $small;
        flex-basis: 200px;
    }
}