@import "header.module.scss";

.mainContainer {

}

.logoContainer {
    height: calc(max(800px, 100vh) - $header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 60px;
    transform: translateY(-30px);
}